:root {
  --main-color: #6B9957;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--main-color);
}

.icon-container .icon {
  /* Add or update the background color */
  background-color: var(--main-color);
}

#a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--main-color);
  text-decoration: underline;
}

.navbar {
  background-color: var(--main-color);
}
