@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*:root {*/
/*    --main-color: #6B9957;*/
/*}*/

/*h1, h2, h3, h4, h5, h6 {*/
/*    color: var(--main-color);*/
/*}*/

/*.icon-container .icon {*/
/*    !* Add or update the background color *!*/
/*    background-color: var(--main-color);*/
/*}*/

/*#a {*/
/*    color: var(--main-color);*/
/*    text-decoration: none;*/
/*}*/

/*a:hover,*/
/*    a:focus {*/
/*    color: var(--main-color);*/
/*    text-decoration: underline;*/
/*}*/

/*.navbar {*/
/*    background-color: var(--main-color);*/
/*}*/
.sidebar {
    position: relative;
}

.interactive-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevents interaction with the background graph */
    z-index: -1; /* Places the graph behind other elements */
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 100;
}

.back-to-top a {
    display: inline-block;
    background-color: #1c1c1e;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.back-to-top a:hover,
.back-to-top a:focus {
    background-color: #555;
}

.sidebar-about img {
    box-shadow: none;
}